- premier = true
%ul.nav.nav-tabs(role="tablist" id="myTab")
	- @videos.each do |key,videos|
		%li(role="presentation" class="#{premier ? 'active' : ''}" onclick="desactive_tabs_except('#{key}')")
			%a(href="##{key}" aria-controls="#{key}" role="tab" data-toggle="tab" ) 
				= key
		- premier = false

- premier = true
- @videos.each do |key,videos|
	.tab-content
		%div(role="tabpanel" class="tab-pane #{premier ? 'active' : ''}" id="#{key}")
			- videos.each do |video|
				.col-md-6
					%h2
						= video.nom
					%span.glyphicon.glyphicon-calendar
						= video.date.strftime '%d/%m/%Y'
					.well
						.screenshot
							%a(href="/video/#{video.id}")
								%img(width="100%" src="/videos/#{video.id}/screenshot.jpg")
						%a.btn.btn-success(href="/video/#{video.id}/download")
							%span.glyphicon.glyphicon-download-alt(aria-hidden="true")
								Téléchargement
						- video.tags.order(:nom).each do |tag|
							&nbsp;
							%a.label.label-info(role="button" href="/videos/tag/#{tag.id}")
								= tag.nom.capitalize
	- premier = false

:javascript
	function desactive_tabs_except(tab) {
		tabs = document.getElementsByClassName("tab-content");
		var i;
		for (i=0; i<tabs.length; i++) {
			if (tabs[i].firstElementChild.id==tab) {
				tabs[i].firstElementChild.className = "tab-pane active";
			} else {
				tabs[i].firstElementChild.className = "tab-pane";
			}
		}
	}
