<!DOCTYPE html>
%html
	%head
		%title
			Blog de l'IMS
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
		%link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}
		%link{href: "/vendor/bootstrap/css/css.css", rel: "stylesheet"}
	%body
		.container
			= yield
		%script{src:"/vendor/jquery-1.9.1.min.js"}
		%script{src:"/vendor/bootstrap/js/bootstrap.min.js"}
