%h1
	%a.label.label-default(href="#{@previous}")
		<
	&nbsp;
	%span.label.label-danger
		= @video.nom.capitalize
.col-md-12
	%span.glyphicon.glyphicon-calendar
		= @video.date.strftime '%d/%m/%Y'
	.well
		%video(width="100%" controls="controls" autoplay poster="/videos/#{@video.id}/screenshot.jpg")
			%source(src="/videos/#{@video.id}/#{@video.fichier}" type="video/webm")
		%a.btn.btn-success(href="/video/#{@video.id}/download")
			%span.glyphicon.glyphicon-download-alt(aria-hidden="true")
				Téléchargement
		- @video.tags.order(:nom).each do |tag|
			&nbsp;
			%a.label.label-info(role="button" href="/videos/tag/#{tag.id}")
				= tag.nom.capitalize
